h1
    | Лицензионное соглашение

p
    | Администрация Сайта (Лицензиар) предоставляет Вам право использования
    | Программ для ЭВМ Сайта capsulatime.com, на условиях,
    | являющихся предметом настоящего Лицензионного соглашения.
    | В этой связи, Вам необходимо внимательно ознакомиться
    | с условиями настоящего Лицензионного соглашения,
    | которое рассматриваются Администрацией Сайта
    | как публичная оферта в соответствии со ст. 437 Гражданского кодекса
    | Российской Федерации.

h2
    | 1. Термины, используемые в настоящем Соглашении

p
    strong 1.1. Сайт capsulatime.com (или Сайт)
    = ' '
    | — интернет-ресурс, состоящий из совокупности
    | (а) Программ для ЭВМ и (б) информации (контента),
    | размещенной в них Администрацией и/или Пользователями.
    | Сайт capsulatime.com
    | содержится в информационной системе, обеспечивающей
    | доступность такой информации в сети Интернет
    | по сетевому адресу (доменному имени):
    = ' '
    a(href='http://capsulatime.com') capsulatime.com
    = ' '
    | (включая все уровни указанного домена, как функционирующие
    | на дату заключения настоящего Лицензионного договора,
    | так и запускаемые и вводимые в эксплуатацию
    | в течение всего срока его действия).

p
    strong 1.2. Программы для ЭВМ Сайта capsulatime.com (или Программы для ЭВМ)
    = ' '
    | — представленные в объективной форме совокупности данных и команд,
    | исполняющиеся на ЭВМ Пользователя, порождающие аудиовизуальные
    | отображения и выполняющие определенные функции Сайта и/или отвечающие
    | за функционирование Сайта в целом.
    | Право использования Программ для ЭВМ Сайта capsulatime.com,
    | за исключением Дополнительного функционала Сайта,
    | предоставляется Администрацией Пользователю
    | на безвозмездной основе согласно условиям настоящего Соглашения.

p
    strong 1.3. Дополнительный функционал Сайта
    = ' '
    |— программные коды, исполняющиеся на ЭВМ Пользователя
    | в составе Программ для ЭВМ Сайта capsulatime.com
    | и выполняющие определенные дополнительные функции Сайта.
    | Элементами, составляющими Дополнительный функционал Сайта,
    | является запечатывание капсул времени
    | и Дополнительный функционал Приложений API.
    | Условия возмездного предоставления Администрацией Пользователю права
    | использования Дополнительного функционала Сайта
    | определены в настоящем Соглашении.

p
    strong 1.4. Капсулы времени
    = ' '
    | — программные коды, исполняющиеся на ЭВМ
    | в составе Программ для ЭВМ Сайта capsulatime.com,
    | которые могут использоваться Пользователем для создания
    | текстового сообщения с добавлением в него аудиовизуальных файлов,
    | электронных документов. Право использования капсул времени
    | предоставляется Администрацией Пользователю
    | или третьим лицам, указанным Пользователем
    | при Запечатывании капсулы времени безвозмездно
    = ' '
    | — согласно условиям настоящего Соглашения.

p
    strong 1.5. Запечатывание капсулы времени
    = ' '
    | — программные коды, исполняющиеся
    | на ЭВМ в составе Программ для ЭВМ Сайта
    | capsulatime.com, которые используются Пользователем
    | для ограничения доступа к изменению капсулы времени
    | и рассылка на e-mail третьим лицам, указанным пользователем капсулы времени.
    | Право использования капсул времени предоставляется
    | Администрацией Пользователю возмездно или безвозмездно
    | на усмотрение Администрации
    = ' '
    | — согласно условиям настоящего Соглашения.

p
    strong 1.6. Лицензиар (или Администрация)
    = ' '
    | — Индивидуальный Предприниматель Богомазов Алексей Сергеевич,
    | ИНН: 312331725408, ОГРН: 316312300106444
    | и обладающий необходимыми правами на предоставление
    | Пользователю права использования Программ для ЭВМ Сайта capsulatime.com.

p
    strong 1.7. Лицензиат (или Пользователь)
    = ' '
    | — физическое лицо, зарегистрированное на Сайте
    | в соответствии с Правилами пользования Сайтом capsulatime.com,
    | описанными в данном Соглашении.

p
    strong 1.8. Соглашение
    = ' '
    | — текст настоящего Лицензионного соглашения
    | между Администрацией Сайта (Лицензиаром)
    | и Пользователем (Лицензиатом),
    | содержащий все необходимые
    | и существенные условия лицензионного договора
    | о предоставлении прав использования Программ
    | для ЭВМ Сайта capsulatime.com.
    | Настоящее Соглашение заключается
    | между Администрацией и Пользователем
    | в упрощенном порядке и является договором
    | присоединения по смыслу п. 5 ст. 1286 ГК РФ.

h2
    | 2. Статус настоящего Соглашения

p
    strong 2.1.
    = ' '
    | Настоящее Соглашение определяет условия
    | предоставления Пользователю права использования
    | Программ для ЭВМ Сайта capsulatime.com.
    | Настоящее Соглашение также распространяется на отношения,
    | связанные с правами и интересами третьих лиц,
    | не являющимися Пользователями Сайта,
    | но чьи права и интересы могут быть затронуты
    | в результате действий Пользователей Сайта.

p
    strong 2.2.
    = ' '
    | Предметом настоящего Соглашения является
    | предоставление Администрацией Пользователю
    | на условиях простой неисключительной лицензии
    | права использования Программ для ЭВМ Сайта Capsulatime.com.
    | Помимо настоящего Соглашения,
    | к соглашению между Администрацией
    | и Пользователем относятся все специальные документы,
    | регулирующие предоставление
    | отдельного функционала Сайта
    | и размещенные в свободном доступе
    | в соответствующих разделах Сайта в сети Интернет.

p
    strong 2.3.
    = ' '
    | Пользователь обязан полностью ознакомиться
    | с настоящим Соглашением
    | до момента регистрации на Сайте.
    | Регистрация на Сайте,
    | а также любое использование Сайта
    | (Программ для ЭВМ Сайта capsulatime.com и/или размещенной
    | в них информации (контента) означает полное
    | и безоговорочное принятие им настоящего Соглашения
    | в соответствии со ст. 438 Гражданского кодекса Российской Федерации.

p
    strong 2.4.
    = ' '
    | Настоящее Соглашение может быть изменено
    | и/или дополнено Администрацией
    | в одностороннем порядке
    | без какого-либо специального
    | уведомления Пользователя.
    | Настоящее Соглашение является открытым
    | и общедоступным документом.
    | Действующая редакция Соглашения
    | располагается в сети Интернет
    | по адресу:
    = ' '
    a(href= 'http://capsulatime.com/static/license') http://capsulatime.com/static/licence
    | .
    | Администрация рекомендует Пользователям
    | регулярно проверять условия настоящего
    | Соглашения на предмет их изменения и/или дополнения.
    | Продолжение использования Сайта Пользователем
    | после внесения изменений и/или дополнений
    | в настоящее Соглашение означает принятие
    | и согласие Пользователя с такими изменениями и/или дополнениями.

h2
    | 3. Пределы использования Пользователем Программ для ЭВМ Сайта Capsulatime.com

p
    strong 3.1.
    = ' '
    | Пользователь вправе:

p
    strong 3.1.1.
    = ' '
    | использовать Программы для ЭВМ Сайта capsulatime.com
    | в соответствии с их назначением и функциональными возможностями;

p
    strong 3.1.2.
    = ' '
    | на возмездных условиях использовать
    | Дополнительный функционал Сайта
    | через интерфейс Сайта.

p
    strong 3.2.
    = ' '
    | Пользователь не вправе:

p
    strong 3.2.1.
    = ' '
    | воспроизводить, дублировать, копировать,
    | продавать, распространять,
    | осуществлять торговые операции
    | и перепродавать право использования
    | и/или сами Программы для ЭВМ Сайта capsulatime.com
    | для каких-либо целей,
    | за исключением случаев,
    | когда такие действия были прямо разрешены
    | Пользователю в соответствии
    | с условиями настоящего Соглашения;

p
    strong 3.2.2.
    = ' '
    | переводить Программы для ЭВМ Сайта capsulatime.com
    | на другие языки,
    | за исключением случаев,
    | когда такие действия были прямо разрешены
    | Пользователю в соответствии
    | с условиями настоящего Соглашения;

p
    strong 3.2.3.
    = ' '
    | распространять вне Сайта capsulatime.com
    | в коммерческих или некоммерческих целях текстовые,
    | аудиовизуальные и/или графические отображения,
    | присутствующие в Программах для ЭВМ Сайта capsulatime.com,
    | а также любые элементы их дизайна
    | или пользовательского интерфейса,
    | при отсутствии письменного разрешения
    | соответствующих правообладателей
    | на совершение данных действий;

p
    strong 3.2.4.
    = ' '
    | воспроизводить, копировать, осуществлять сбор,
    | систематизацию, хранение, передачу контента
    | в рамках Программы для ЭВМ Сайта capsulatime.com
    | с целью создания базы данных
    | в коммерческих и/или некоммерческих целях
    | и/или использовать контент полностью
    | или в любой его части,
    | независимо от способа использования,
    | без согласия Администрации;

p
    strong 3.2.5.
    = ' '
    | использовать Программы для ЭВМ иными способами,
    | не предусмотренными настоящим Соглашением
    | и выходящими за рамки обычного процесса
    | функционирования Программ для ЭВМ Сайта capsulatime.com.

h2
    | 4. Порядок предоставления Администрацией Пользователю
    | права использования Программ для ЭВМ Сайта capsulatime.com

p
    strong 4.1.
    = ' '
    | Право использования Программ для ЭВМ Сайта capsulatime.com,
    | за исключением права использования Дополнительного функционала Сайта,
    | предоставляется Администрацией Пользователю безвозмездно
    | на условиях простой неисключительной лицензии
    | с момента регистрации Пользователя
    | на Сайте capsulatime.com,
    | либо с момента начала использования
    | Сайта (Программ для ЭВМ Сайта capsulatime.com
    | и/или размещенной в них информации (контента).

p
    strong 4.2.
    = ' '
    | Право использования Дополнительного функционала Сайта
    | предоставляется Администрацией Пользователю возмездно следующим образом:

p
    strong 4.2.1.
    = ' '
    | С момента регистрации на Сайте
    | Пользователь по своему желанию
    | может приобрести право использования Капсул времени.

p
    strong 4.2.2.
    = ' '
    | Создаваемые Пользователем Капсулы времени
    | привязывается к его персональной странице.

p
    strong 4.2.3.
    = ' '
    | Приобретение права использования
    | запечатывания определенной капсулы времени
    | осуществляется Пользователем в порядке,
    | установленном Администрацией
    | в специальном разделе Сайта «Запечатать»,
    | расположенного в сети Интернет по сетевому адресу (доменному имени),
    | специфичному для каждой конкретной Капсулы времени и имеющему вид:
    | http://capsulatime.com/pay/<имя Пользователя>/<24-значный идентификатор Капсулы времени>.

p
    strong 4.2.4.
    = ' '
    | Размер стоимости одного запечатывания
    | капсулы времени может быть изменен Администрацией
    | в одностороннем порядке в любое время
    | без предварительного уведомления Пользователя.
    | При этом стоимость уже приобретенных
    | Пользователем запечатываний капсулы времени
    | не пересматривается Администрацией Сайта.

p
    strong 4.2.5.
    = ' '
    | Пользователь имеет право использовать
    | Капсулы времени следующим образом:

p
    strong 4.2.5.1.
    = ' '
    | Запечатывать капсулы времени.

p
    strong 4.2.6.
    = ' '
    | В случае, если в результате технической ошибки,
    | или сбоя функционирования Сайта
    | или любого его элемента,
    | или сознательных действий Пользователя
    | им был получен доступ
    | к Дополнительному функционалу Сайта
    | без приобретения права его использования
    | в установленном настоящим Соглашением порядке,
    | Пользователь обязуется сообщить
    | об этом факте Администрации
    | и оплатить стоимость права использования
    | такого Дополнительного функционала Сайта,
    | либо самостоятельно устранить
    | все последствия неправомерного использования
    | Дополнительного функционала Сайта.
    | При этом Администрация вправе самостоятельно
    | без уведомления Пользователя устранить такие последствия.

p
    strong 4.2.7.
    = ' '
    | Пользователь обязан сохранять документы,
    | подтверждающие оплату им прав использования
    | Дополнительного функционала Сайта
    | в течение всего времени пользования Сайтом,
    | и по запросу Администрации предоставить такие документы,
    | а также информацию об обстоятельствах
    | совершения Пользователем соответствующего платежа.

p
    strong 4.3.
    = ' '
    | Право использования
    | Дополнительного функционала Сайта
    | может также предоставляться Пользователю иными способами,
    | предусмотренными функциональными возможностями Сайта capsulatime.com.

p
    strong 4.4.
    = ' '
    | Право использования
    | Программ для ЭВМ предоставляется
    | Администрацией Пользователю
    | на срок действия настоящего Соглашения,
    | если только исчерпание предоставленного
    | объема прав не наступит ранее.

p
    strong 4.5.
    = ' '
    | Денежные средства, уплаченные Пользователем,
    | в том числе в счет запечатывания,
    | являются лицензионным вознаграждением
    | Администрации по настоящему Соглашению.

p
    strong 4.6.
    = ' '
    | Исключительное право на распространение
    | Дополнительного функционала Сайта
    | принадлежит Администрации,
    | в связи с чем никакие предложения третьих лиц
    | о предоставлении прав использования
    | Дополнительного функционала Сайта
    | или права доступа к ним
    | не могут быть расценены Пользователем
    | как предложения, исходящие от Администрации.

p
    strong 4.8.
    = ' '
    | В случае возникновения спорных, неясных ситуаций,
    | либо направления Пользователю каких-либо предложений третьих лиц,
    | связанных с оплатой прав использования
    | Дополнительного функционала Сайта,
    | либо размещения таких объявлений
    | и предложений в сети Интернет,
    | Пользователь обязан незамедлительно
    | уведомить об этом Администрацию.
    | Если Пользователь, нарушив настоящее положение,
    | произвел оплату по указанному объявлению
    | с использованием реквизитов,
    | указанных в таком объявлении,
    | претензии Пользователя к Администрации
    | по поводу отсутствия у него доступа
    | к Дополнительному функционалу Сайта
    | не принимаются, и Администрация
    | не компенсирует Пользователю денежные средства,
    | потраченные им при таких обстоятельствах.

p
    strong 4.9.
    = ' '
    | Если Администрацией будет установлено,
    | что Пользователь получает доступ
    | к Дополнительному функционалу Сайта от третьих лиц,
    | Администрация вправе по своему усмотрению
    | либо приостановить, либо ограничить,
    | либо прекратить право использования
    | Пользователем Программ ЭВМ Сайта capsulatime.com.

p
    strong 4.10.
    = ' '
    | Пользователь гарантирует Администрации,
    | что он имеет право свободно распоряжаться
    | денежными средствами,
    | выбранными им для оплаты
    | прав использования Дополнительного функционала Сайта,
    | не нарушая при этом законодательство РФ
    | и/или законодательство иной страны,
    | гражданином которой является Пользователь,
    | и права третьих лиц.
    | Администрация не несет ответственности
    | за возможный ущерб третьим лицам
    | и/или другим Пользователям,
    | причиненный в результате использования
    | Пользователем не принадлежащих ему денежных средств.

h2 5. Ограничение ответственности Администрации Сайта capsulatime.com

p
    strong 5.1.
    = ' '
    | Пользователь использует
    | Программы для ЭВМ на собственный страх и риск.
    | Использование Программ для ЭВМ осуществляется
    | в состоянии «как есть».

p
    strong 5.2.
    = ' '
    | Администрация не несет ответственности
    | за возможные противоправные действия
    | Пользователя или третьих лиц.

p
    strong 5.3.
    = ' '
    | Администрация не несет ответственности
    | за высказывания Пользователя,
    | опубликованные посредством использования
    | Программ для ЭВМ Сайта capsulatime.com.
    | Администрация не несет ответственности
    | за поведение Пользователя при использовании им
    | Программ для ЭВМ.

p
    strong 5.4.
    = ' '
    | Администрация не несет ответственности
    | за утерю Пользователем возможности доступа
    | к своему аккаунту на Сайте
    | (утрату логина, пароля, иной информации,
    | необходимой для использования
    | Программ для ЭВМ Сайта capsulatime.com).

p
    strong 5.5.
    = ' '
    | Администрация не несет ответственности
    | за неполное, неточное, некорректное
    | указание Пользователем своих данных
    | при использовании Программ для ЭВМ.

p
    strong 5.6.
    = ' '
    | Администрация не осуществляет обмен
    | запечатанных и не запечатанных
    | капсул времени на наличные
    | или безналичные денежные средства
    | или ценности и/или возврат денежных средств,
    | уплаченных Пользователем
    | при покупке запечатывания капсулы времени.

p
    strong 5.7.
    = ' '
    | Администрация не производит обмен
    | одних приобретенных Пользователем
    | элементов Дополнительного функционала Сайта
    | на другие элементы Дополнительного функционала Сайта.

p
    strong 5.8.
    = ' '
    | Администрация не возмещает Пользователю расходы,
    | связанные с приобретением им прав использования
    | Дополнительного функционала Сайта,
    | в том числе в случае приостановления
    | или прекращения доступа к Сайту capsulatime.com,
    | в том числе в случае нарушения Пользователем
    | Правил пользования Сайтом capsulatime.com,
    | и/или приостановления
    | или прекращения настоящего Соглашения по любым основаниям.

p
    strong 5.9.
    = ' '
    | Администрация не гарантирует, что:

p
    strong 5.9.1.
    = ' '
    | Программы для ЭВМ будут удовлетворять
    | субъективным требованиям и ожиданиям Пользователя;

p
    strong 5.9.2.
    = ' '
    | процесс использования
    | Программ для ЭВМ будет протекать
    | непрерывно, быстро, без технических сбоев,
    | надежно и без ошибок;

p
    strong 5.9.3.
    = ' '
    | результаты, которые могут быть получены
    | с использованием Программ для ЭВМ
    | будут безошибочными;

p
    strong 5.9.4.
    = ' '
    | Программы для ЭВМ будут доступны
    | и могут использоваться круглосуточно,
    | в какой-то конкретный момент времени
    | или в течение какого-либо периода времени.

p
    strong 5.10.
    = ' '
    | Администрация не несет ответственности
    | за возникновение прямого или косвенного ущерба
    | для Пользователя либо иных третьих лиц,
    | причиненного в результате:

p
    strong 5.10.1.
    = ' '
    | использования либо невозможности использования
    | Программ для ЭВМ Сайта capsulatime.com;

p
    strong 5.10.2.
    = ' '
    | несанкционированного доступа любых третьих лиц
    | к личной информации Пользователя,
    | включая учетную запись Пользователя, на Сайте.

p
    strong 5.11.
    = ' '
    | При любых обстоятельствах ответственность
    | Администрации перед Пользователем
    | ограничена суммой в 1 000 (тысяча) рублей.

p
    strong 5.12.
    = ' '
    | Администрация не обязана предоставлять
    | Пользователю какие-либо документы
    | и прочие доказательства,
    | свидетельствующие о нарушении
    | Пользователем условий настоящего Соглашения,
    | в результате которого Пользователю
    | было частично или полностью отказано
    | в предоставлении права доступа к Сайту
    | (права на использование Программ для ЭВМ Сайта capsulatime.com).

p
    strong 5.13.
    = ' '
    | Пользователь понимает, принимает и соглашается,
    | что Программы для ЭВМ Сайта capsulatime.com
    | могут предусматривать различные звуковые и/или видеоэффекты,
    | которые при определенных обстоятельствах могут вызывать у лиц,
    | склонных к эпилептическим
    | или иным расстройствам нервного характера,
    | обострение указанных состояний,
    | и Пользователь гарантирует,
    | что указанными расстройствами он не страдает,
    | или же обязуется не использовать Программы для ЭВМ,
    | предусматривающие такого рода раздражители.

p
    strong 5.14.
    = ' '
    | Пользователь принимает и соглашается,
    | что регулярное длительное (непрерывное) нахождение
    | у персонального компьютера,
    | использование иных технических устройств,
    | может вызывать различные осложнения физического состояния,
    | в том числе ослабление зрения, сколиоз,
    | различные формы неврозов
    | и прочие негативные воздействия на организм.
    | Пользователь гарантирует,
    | что он будет использовать
    | Программы для ЭВМ исключительно
    | на протяжении разумного времени,
    | с перерывами на отдых или иные мероприятия
    | по профилактике физического состояния,
    | если таковые рекомендованы
    | или предписаны Пользователю.

p
    strong 5.15.
    = ' '
    | Администрация не несет ответственности
    | за отправленные через Сайт сообщения,
    | а так же а информацию,
    | содержащуюся в капсулах времени.

p
    strong 5.16.
    = ' '
    | Администрация Сайта
    | не несет ответственности
    | за работу почтовых сервисов и служб,
    | а так же за проблемы возникшие по вине этих служб.

p
    strong 5.17.
    = ' '
    | Администрация Сайта оставляет за собой право
    | удалять капсулы времени,
    | которые содержат личные оскорбления,
    | адреса электронной почты, рекламу,
    | ненормативную лексику, ненависть
    | или каких либо других материалов,
    | которые мы считаем неуместными.

h2
    | 6. Территория и срок действия настоящего Соглашения

p
    strong 6.1.
    = ' '
    | Пользователь вправе использовать
    | Программы для ЭВМ Сайта capsulatime.com способами,
    | описанными в настоящем Соглашении,
    | на всей территории Российской Федерации,
    | а также иных территориях,
    | на которых они доступны
    | в рамках обычного процесса функционирования Сайта.

p
    strong 6.2.
    = ' '
    | Настоящее Соглашение действует
    | с момента принятия его условий Пользователем
    | и действует в течение 1 (Одного) календарного года.

p
    strong 6.3.
    = ' '
    | Действие настоящего Соглашения
    | автоматически продлевается
    | еще на каждый последующий 1 (Один) год,
    | если до истечения указанного срока действия Соглашения:

p
    strong 6.3.1.
    = ' '
    | Администрация не примет решение
    | об изменении положений настоящего Соглашения,
    | о необходимости заключения
    | с Пользователем нового соглашения,
    | полного или частичного прекращении
    | обслуживания Программ для ЭВМ
    | и прекращения к ним доступа,
    | прекращении настоящего Соглашения
    | в отношении Пользователя
    | или прекращения доступа
    | к Программам для ЭВМ
    | в отношении Пользователя;

p
    strong 6.3.2.
    = ' '
    | Пользователь не примет решение
    | о прекращении права использования программ для ЭВМ.

p
    strong 6.4.
    = ' '
    | Администрация вправе в любое время
    | без уведомления Пользователя
    | и без объяснения причин прекратить действие
    | настоящего Соглашения
    | в одностороннем внесудебном порядке
    | с немедленным прекращением доступа
    | и возможности использовать Сайт
    | и без возмещения каких-либо затрат,
    | убытков или возврата полученного
    | по Соглашению, в том числе в случае:

p
    strong 6.4.1.
    = ' '
    | закрытия Сайта capsulatime.com;

p
    strong 6.4.2.
    = ' '
    | любого, в том числе однократного,
    | нарушения Пользователем условий настоящего Соглашения,
    | Правил пользования Сайтом capsulatime.com
    | или положений специальных документов,
    | размещенных на Сайте.

p
    strong 6.5.
    = ' '
    | Пользователь вправе
    | прекратить настоящее Соглашение
    | в одностороннем внесудебном порядке
    | путем удаления своего аккаунта
    | на Сайте в порядке,
    | в порядке обращения
    | в техническую поддержку электронным письмом.

p
    strong 6.6.
    = ' '
    | Пользователь соглашается и полностью признает,
    | что все исключительные права
    | на Программы для ЭВМ Сайта Capsulatime.com,
    | принадлежат Администрации или третьим лицам,
    | если иное в явном виде не указано
    | в Соглашении или на Сайте.

p
    strong 6.7.
    = ' '
    | Пользователь не вправе
    | использовать любые составляющие
    | Программ для ЭВМ вне Сайта
    | без предварительного
    | письменного согласия Администрации
    | за исключением компонентов с открытым исходным кодом,
    | входящих в состав Программ для ЭВМ.

p
    strong 6.8.
    = ' '
    | Пользователь понимает,
    | принимает и соглашается,
    | что любые элементы
    | Программ для ЭВМ охраняются авторским правом.
    | Несмотря на то, что Пользователю
    | предоставляются права использования
    | Программ для ЭВМ во время использования Сайта,
    | такое использование Программ для ЭВМ не является
    | и не может быть расценено
    | ни при каких обстоятельствах
    | как передача и/или уступка
    | исключительного права
    | в отношении указанных программ
    | от Администрации к Пользователю.

p
    strong 6.9.
    = ' '
    | Настоящее Соглашение
    | не предусматривает уступку
    | каких-либо исключительных прав
    | или выдачу исключительной лицензии
    | на любые составляющие Программ для ЭВМ
    | от Администрации к Пользователю.

p
    strong 6.10.
    = ' '
    | Если Пользователю в соответствии
    | с законами его государства
    | запрещено пользоваться Программами для ЭВМ
    | в режиме онлайн
    | или существуют иные законодательные ограничения,
    | включая ограничения по возрасту
    | допуска к подобным программам для ЭВМ,
    | Пользователь не вправе использовать Программы для ЭВМ.
    | В таком случае Пользователь самостоятельно
    | несет ответственность за использование
    | Программ для ЭВМ на территории своего государства
    | и нарушение местного законодательства.

p
    strong 6.11.
    = ' '
    | Настоящее Соглашение
    | может быть изменено Администрацией
    | без какого-либо предварительного уведомления.
    | Любые изменения в Соглашении,
    | осуществленные Администрацией
    | в одностороннем порядке
    | вступают в силу с момента опубликования таких изменений на Сайте.
    | Пользователь обязуется самостоятельно
    | проверять Соглашение на предмет изменений.
    | Неосуществление Пользователем действий по ознакомлению с Соглашением
    | и/или измененной редакцией Соглашения
    | не может служить основанием
    | для неисполнения Пользователем своих обязательств
    | и несоблюдения Пользователем ограничений, установленных Соглашением.

p
    strong 6.12.
    = ' '
    | Недействительность одного
    | или нескольких положений настоящего Соглашения,
    | признанная в установленном порядке вступившей в силу решением суда,
    | не влечет для Пользователя
    | и Администрации недействительности Соглашения в целом.
    | В случае признания одного или нескольких
    | положений Соглашения в установленном порядке недействительными,
    | Администрация и Пользователь
    | обязуются исполнять взятые на себя по Соглашению обязательства способом,
    | максимально близко к таковому
    | при заключении и/или согласованном изменении Соглашения.

p
    strong 6.13.
    = ' '
    | Настоящее Соглашение и взаимоотношения
    | Администрации и Пользователя
    | в связи с настоящим Соглашением
    | и использованием Программ для ЭВМ
    | регулируются законодательством Российской Федерации.

p
    strong 6.14.
    = ' '
    | В отношении формы и способа заключения
    | настоящего Соглашения также применяются нормы
    | Гражданского Кодекса РФ,
    | регулирующие порядок
    | и условия заключения договора путем акцепта публичной оферты.

p
    strong 6.15.
    = ' '
    | Все споры сторон по настоящему соглашению
    | подлежат разрешению путем переписки
    | и переговоров с использованием обязательного
    | досудебного (претензионного) порядка.
    | В случае невозможности достичь согласия
    | между сторонами путем переговоров
    | в течение 60 (шестидесяти) календарных дней
    | с момента получения другой стороной письменной претензии,
    | рассмотрение спора должно быть передано
    | любой заинтересованной стороной
    | в суд общей юрисдикции по месту нахождения
    | Администрации (с исключением подсудности дела любым иным судам).

