extends layout

block page
    style.
        h1 {
            line-height : 40px;
            font-size   : 26px;
        }

        h2 {
            padding     : 7px 0;
            line-height : 25px;
            font-size   : 16px;
        }

        .editor-grid-meta {
            flex-direction : column;
        }
    .mdl-cell.mdl-cell--3-col.mdl-cell--hide-tablet
    .capsule-card.mdl-cell.mdl-cell--6-col.mdl-cell--8-col-tablet.mdl-card.mdl-shadow--2dp
        .mdl-card__title
            .mdl-grid.editor-grid-meta
                include privacy-ru