h1 Правила защиты информации о пользователях сайта capsulatime.com

h2
    | 1. Общие положения

p
    strong 1.1.
    = ' '
    | Настоящие Правила являются официальным документом
    | Индивидуального Предпринимателя Богомазова Алексея Сергеевича,
    | ИНН: 312331725408, ОГРН: 316312300106444
    | (далее – Администрация Сайта),
    | и определяют порядок обработки
    | и защиты информации о физических лицах,
    | пользующихся услугами
    | интернет-сайта
    = ' '
    a(href= 'http://capsulatime.com') http://capsulatime.com
    = ' '
    | (далее – Сайт) и его сервисов (далее – Пользователи).

p
    strong 1.2.
    = ' '
    | Целью настоящих Правил
    | является обеспечение надлежащей
    | защиты информации о пользователях,
    | в том числе их персональных данных,
    | от несанкционированного доступа и разглашения.

p
    strong 1.3.
    = ' '
    | Отношения, связанные со сбором,
    | хранением, распространением
    | и защитой информации о пользователях Сайта,
    | регулируются настоящими Правилами,
    | иными официальными документами Администрации Сайта
    | и действующим законодательством Российской Федерации.

p
    strong 1.4.
    = ' '
    | Действующая редакция Правил,
    | являющихся публичным документом,
    | доступна любому пользователю сети Интернет
    | при переходе по ссылке http://capsulatime.com/static/privacy.
    | Администрация Сайта вправе
    | вносить изменения в настоящие Правила.
    | При внесении изменений в Правила
    | Администрация Сайта уведомляет
    | об этом пользователей путем размещения
    | новой редакции Правил на Сайте
    | по постоянному адресу http://capsulatime.com/static/privacy
    | не позднее, чем за 10 дней до вступления
    | в силу соответствующих изменений.
    | Предыдущие редакции Правил хранятся
    | в архиве документации Администрации Сайта.

p
    strong 1.5.
    = ' '
    | Настоящие Правила разработаны
    | и используются в соответствии
    | с Правилами Лицензионного соглашения Сайта capsulatime.com,
    | размещенными на Сайте по адресу
    = ' '
    a(href= 'http://capsulatime.com/static/license') http://capsulatime.com/static/licence
    | .
    | В случае наличия противоречий между
    | настоящими Правилами
    | и иными официальными документами
    | Администрации Сайта применению
    | подлежат настоящие Правила.

p
    strong 1.6.
    = ' '
    | Регистрируясь и используя Сайт,
    | Пользователь выражает свое согласие
    | с условиями настоящих Правил.

p
    strong 1.7.
    = ' '
    | В случае несогласия Пользователя
    | с условиями настоящих Правил использование Сайта
    | и его сервисов должно быть немедленно прекращено.

h2
    | 2. Условия пользования Сайтом

p
    strong 2.1.
    = ' '
    | Оказывая услуги по использованию Сайта
    | и его сервисов (далее – Услуги Сайта),
    | Администрация Сайта,
    | действуя разумно и добросовестно,
    | считает, что Пользователь:

    ul
        li
            | обладает всеми необходимыми правами,
            | позволяющими ему осуществлять регистрацию
            | и использовать настоящий Сайт;
        li
            | указывает достоверную информацию о себе в объемах,
            | необходимых для пользования Услугами Сайта;
        li
            | осознает, что информация на Сайте,
            | размещаемая Пользователем о себе,
            | может становиться доступной
            | для других Пользователей Сайта
            | и пользователей Интернета,
            | может быть скопирована
            | и распространена такими пользователями;
        li
            | осознает, что некоторые виды информации,
            | переданные им другим Пользователям,
            | не могут быть удалены самим Пользователем;
        li
            | ознакомлен с настоящими Правилами,
            | выражает свое согласие с ними
            | и принимает на себя указанные
            | в них права и обязанности.

p
    strong 2.2.
    = ' '
    | Администрация Сайта не проверяет
    | достоверность получаемой (собираемой) информации о пользователях,
    | за исключением случаев,
    | когда такая проверка необходима
    | в целях исполнения Администрацией Сайта
    | обязательств перед пользователем.

h2
    | 3. Цели обработки информации

p
    | Администрация Сайта осуществляет
    | обработку информации о Пользователях,
    | в том числе их персональных данных,
    | в целях выполнения обязательств
    | Администрации Сайта
    | перед Пользователями в отношении
    | использования Сайта и его сервисов.


h2
    | 4. Состав информации о пользователях

p
    strong 4.1.
    = ' '
    | Персональные данные Пользователей

p
    | Персональные данные Пользователей включают в себя:

p
    strong 4.1.1.
    = ' '
    | предоставляемые Пользователями
    | и минимально необходимые
    | для регистрации на Сайте:
    | имя, фамилия, адрес электронной почты;

p
    strong 4.1.2.
    = ' '
    | предоставляемые Пользователями
    | с использованием раздела
    | редактирования своих страниц на Сайте
    = ' '
    a(href= 'http://capsulatime.com/profile') http://capsulatime.com/profile
    | ;

p
    strong 4.1.3.
    = ' '
    | дополнительно предоставляемые Пользователями
    | по запросу Администрации Сайта
    | в целях исполнения Администрацией Сайта
    | обязательств перед Пользователями,
    | вытекающих из договора на оказание Услуг Сайта.
    | Администрация Сайта вправе,
    | в частности, запросить у Пользователя копию документа,
    | удостоверяющего личность,
    | либо иного документа, содержащего имя, фамилию,
    | фотографию Пользователя,
    | а также иную дополнительную информацию,
    | которая, по усмотрению Администрации Сайта,
    | будет являться необходимой
    | и достаточной для идентификации такого Пользователя
    | и позволит исключить злоупотребления и нарушения прав третьих лиц.

p
    strong 4.2.
    = ' '
    | Иная информация о Пользователях, обрабатываемая Администрацией Сайта

p
    | Администрация Сайта может также обрабатывать иную информацию о Пользователях, которая включает в себя:

p
    strong 4.2.1.
    = ' '
    | дополнительные данные,
    | получаемые при доступе к Сайту,
    | включающая в себя данные о технических средствах (устройствах),
    | технологическом взаимодействии с Сайтом
    | (в т.ч. IP-адрес хоста, вид операционной системы пользователя,
    | тип браузера, географическое положение,
    | поставщик услуг Интернета),
    | и последующих действиях Пользователя на Сайте;

p
    strong 4.2.2.
    = ' '
    | информация, автоматически получаемая при доступе к Сайту с использованием закладок (cookies);

p
    strong 4.2.3.
    = ' '
    | информация, создаваемая пользователями
    | на Сайте вне раздела редактирования страниц
    = ' '
    a(href= 'http://capsulatime.com/profile') http://capsulatime.com/profile
    = ' '
    | (в том числе Капсулы времени);

p
    strong 4.2.4.
    = ' '
    | информация, полученная в результате
    | действий Пользователя на Сайте
    | (в частности создания, удаления, изменения, запечатывания Капсулы времени);

p
    strong 4.2.5.
    = ' '
    | информация, полученная в результате
    | действий других пользователей на Сайте
    | (в частности, открытия Капсулы времени
    | в режиме просмотра другими Пользователями
    | и третьими лицами согласно Лицензионному соглашению).



h2
    | 5. Обработка информации о пользователях

p
    strong 5.1.
    = ' '
    | Обработка персональных данных осуществляется на основе принципов:

p
    strong а)
    = ' '
    | законности целей и способов обработки персональных данных;

p
    strong б)
    = ' '
    | добросовестности;

p
    strong в)
    = ' '
    | соответствия целей обработки персональных данных целям,
    | заранее определенным и заявленным при сборе персональных данных,
    | а также полномочиям Администрации Сайта;

p
    strong г)
    = ' '
    | соответствия объема и характера обрабатываемых персональных данных,
    | способов обработки персональных данных целям обработки персональных данных;

p
    strong д)
    = ' '
    | недопустимости объединения созданных для несовместимых между собой целей баз данных, содержащих персональные данные.

p
    strong 5.1.1.
    = ' '
    | Условия и цели обработки персональных данных

p
    | Администрация Сайта осуществляет обработку
    | персональных данных пользователя
    | в целях исполнения договора между Администрацией Сайта и Пользователем на оказание
    | Услуг Сайта. В силу статьи 6 Федерального закона от 27.07.2006 № 152-ФЗ
    | «О персональных данных» отдельное согласие пользователя на обработку его персональных данных не требуется.
    | В силу п.п. 2 п. 2 статьи 22 указанного закона Администрация Сайта
    | вправе осуществлять обработку персональных данных
    | без уведомления уполномоченного органа по защите прав субъектов персональных данных.

p
    strong 5.1.2.
    = ' '
    | Сбор персональных данных
p
    | Сбор персональных данных Пользователя осуществляется на Сайте при регистрации,
    | а также в дальнейшем при внесении пользователем
    | по своей инициативе дополнительных сведений о себе с помощью инструментария Сайта.
    | Персональные данные, предусмотренные п. 4.1.1. настоящих Правил,
    | предоставляются Пользователем и являются минимально необходимыми при регистрации.
    | Персональные данные, предусмотренные п. 4.1.2.
    | настоящих Правил, дополнительно предоставляются Пользователем
    | по собственной инициативе с использованием вкладки «Профиль».

p
    strong 5.1.3.
    = ' '
    | Хранение и использование персональных данных
p

    | Персональные данные пользователей хранятся исключительно на электронных носителях
    | и обрабатываются с использованием автоматизированных систем,
    | за исключением случаев, когда неавтоматизированная обработка персональных данных
    | необходима в связи с исполнением требований законодательства.

p
    strong 5.1.4.
    = ' '
    | Передача персональных данных
p

    | Персональные данные Пользователей не передаются каким-либо третьим лицам,
    | за исключением случаев, прямо предусмотренных настоящими Правилами.
    | При указании пользователя или при наличии согласия пользователя
    | возможна передача персональных данных пользователя третьим лицам-контрагентам
    | Администрации Сайта с условием принятия
    | такими контрагентами обязательств по обеспечению конфиденциальности
    | полученной информации, в частности, при использовании приложений.
    | Предоставление персональных данных Пользователей по запросу государственных органов
    | (органов местного самоуправления) осуществляется в порядке, предусмотренном законодательством.

p
    strong 5.1.5.
    = ' '
    | Уничтожение персональных данных
p

    | Персональные данные пользователя уничтожаются при:
    | – Обращении пользователя в техническую поддержку.;

p
    strong 5.2.
    = ' '
    | Размещая информацию на персональной странице, в том числе свои персональные данные,
    | Пользователь осознает и соглашается с тем,
    | что указанная информация может быть доступна другим пользователям сети Интернет
    | с учетом особенностей архитектуры и функционала Сайта.
    | Пользователь самостоятельно определяет режим конфиденциальности и условия доступа к информации,
    | указанной в п.п. 4.2.3 – 4.2.5 настоящих Правил, посредством соответствующих настроек.
    | Администрация Сайта принимает технические и организационные меры
    | по обеспечению функционирования соответствующего инструментария Сайта.


h2
    | 6. Права и обязанности пользователей

p
    strong 6.1.
    = ' '
    | Пользователи вправе:

p
    strong 6.1.1.
    = ' '
    | осуществлять свободный бесплатный доступ к информации о себе посредством
    | загрузки своих персональных страниц на Сайте с использованием логина и пароля;

p
    strong 6.1.2.
    = ' '
    | самостоятельно вносить изменения и исправления в информацию о себе
    | на персональной странице Пользователя на Сайте,
    | при условии, что такие изменения и исправления содержат актуальную и достоверную информацию;

p
    strong 6.1.3.
    = ' '
    | требовать от Администрации Сайта уточнения своих персональных данных,
    | их блокирования или уничтожения в случае, если такие данные являются неполными,
    | устаревшими, недостоверными, незаконно полученными или не являются необходимыми
    | для заявленной цели обработки и если невозможно самостоятельно выполнить действия,
    | предусмотренные п.п. 6.1.2. настоящих Правил;

p
    strong 6.1.4.
    = ' '
    | на основании запроса получать от Администрации Сайта информацию, касающуюся обработки его персональных данных.


h2
    | 7. Меры по защите информации о Пользователях
p
    strong 7.1.
    = ' '
    | Администрация Сайта принимает технические и организационно-правовые меры
    | в целях обеспечения защиты персональных данных Пользователя
    | от неправомерного или случайного доступа к ним,
    | уничтожения, изменения, блокирования, копирования,
    | распространения, а также от иных неправомерных действий.

p
    strong 7.2.
    = ' '
    | Для авторизации доступа к Сайту используется логин
    | (адрес электронной почты) и пароль Пользователя.
    | Ответственность за сохранность данной информации несет Пользователь.
    | Пользователь не вправе передавать собственный логин и пароль третьим лицам,
    | а также обязан предпринимать меры по обеспечению их конфиденциальности.
    | В целях снижения вероятности использования третьими лицами логинов и паролей
    | Пользователей для отсылки спама от их имени.


h2
    | 8. Ограничение действия Правил

p
    | Действие настоящих Правил не распространяется на действия и интернет-ресурсы третьих лиц.

p
    | Администрация Сайта не несет ответственности за действия третьих лиц,
    | получивших в результате использования Интернета или Услуг Сайта
    | доступ к информации о Пользователе в соответствии с выбранным Пользователем
    | уровнем конфиденциальности, за последствия использования информации,
    | которая, в силу природы Сайта, доступна любому пользователю сети Интернет.
    | Администрация Сайта рекомендует Пользователям ответственно подходить к решению вопроса
    | об объеме информации о себе, размещаемой на Сайте.


h2
    | 9. Обращения пользователей

p
    strong 9.1
    = ' '
    | Пользователи вправе направлять
    | Администрации Сайта свои запросы,
    | в том числе запросы относительно использования
    | их персональных данных, предусмотренные п. 6.1.4 настоящих Правил,
    | в форме электронного документа,
    | подписанного квалифицированной электронной подписью
    | в соответствии с законодательством Российской Федерации, по адресу электронной почты: support@capsulatime.com.

p
    strong 9.2.
    = ' '
    | Запрос, направляемый пользователем, должен содержать следующую информацию:

    ul
        li номер основного документа, удостоверяющего личность пользователя или его представителя;
        li сведения о дате выдачи указанного документа и выдавшем его органе;
        li сведения, подтверждающие участие пользователя в отношениях с оператором (в частности, порядковый номер id пользователя или короткое (поддоменное) имя, заменяющее порядковый номер id);
        li подпись пользователя или его представителя.

p
    strong 9.3.
    = ' '
    | Администрация Сайта обязуется рассмотреть и направить ответ на поступивший запрос пользователя
    | в течение 30 дней с момента поступления обращения.

p
    strong 9.4.
    = ' '
    | Вся корреспонденция, полученная Администрацией Сайта от пользователей
    | (обращения в электронной форме), относится к информации ограниченного доступа
    | и не разглашается без письменного согласия Пользователя.
    | Персональные данные и иная информация о Пользователе, направившем запрос,
    | не могут быть без специального согласия Пользователя использованы иначе,
    | как для ответа по теме полученного запроса или в случаях, прямо предусмотренных законодательством.