article.article.article_wall.about#about
    h1 Что это?

    p.
        Ненужная хуйня, которую вы должны считать жизненно необходимой.

    h1 Для кого?

    p.
        Для лохов (нет).

    h1 Зачем?

    p.
        Чтобы вы платили.

    h1 Что дальше?

    p.
        Мы постоянно работаем над улучшением сервиса. Ага, ага, работаем. Хуяк-хуяк, и в продакшен, так и работаем.
