footer.footer
    .footer__column#legal-info
        h4.footer__header About
        .footer__copyright © CapsulaTime, 2016
        .footer__item: a(href= '#about') About service
        .footer__item: a(href= '#') License agreement
        .footer__item: a(href= '#') Privacy policy
    .footer__column
        h4.footer__header Help
        .footer__item: a(href= '#') Support
        .footer__item: a(href= '#') Contacts
        .footer__item: a(href= '#') Telegram chat
    .footer__column
        h4.footer__header Links
        .footer__item: a(href= '#') VK
        .footer__item: a(href= '#') Twitter