header.header
    a.header__logo(href= '#') Logo
    a.header__item(href= '#about') О сервисе
    a.header__item(href= '#login') Вход
    a.header__item(href= '#signup').header__item_level_success Регистрация