article.article.article_wall.intro#intro
    h1 Время…
    p.
        Кем я буду через десять лет?
    p.
        Вспомню ли я те драгоценные моменты,
        которыми так дорожу сейчас?
    p.
        Время беспощадно, и порой даже память
        не в силах ему противиться.
    p.
        Самые тёплые ваши воспоминания —
        мы поможем вам сохранить их
        и донести сквозь время
        до вас и ваших близких.